{% extends "base.html" %}

{% block title %}{{pet.name}} - Details{% endblock %}

{% block content %}
<div class="mt-4">
  <h1>{{pet.name}} Details</h1>
  <p><strong>Species:</strong> {{pet.species}}</p>

  {% if pet.age %}
  <p></strong>Age:</strong> {{pet.age}}</p>
  {% endif %}

  {% if pet.photo %}
  <p><strong>Photo:</strong></p>
  <img class="img-thumbnail" src="{{pet.photo}}" alt="Photo of {{pet.name}}" style="width:150px; height:150p">
  {% endif %}
</div>

  <h2 class="mt-4">Edit Pet</h2>
  <form method="POST" class="form-group">
    {% include '_pet_form_fields.html' %}
    <button class="btn btn-primary mt-3">Update Pet</button>
  </form>
  <br>
  <a href="/" class="btn btn-secondary">Back to Home</a>
{% endblock %}